* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubunto', sans-serif;
  background-color: var(--secondary-color);
  color: var(--blue-color);
}

:root {
  --primary-color: #fff;
  --secondary-color: #e5e5e5;
  --blue-color: #334ac3;
  --grey-color: #8d8d8d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.base-card {
  background: var(--primary-color);
  border-radius: 10px;
}
